.dropdown-item {
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}


/* overwrite - dropdown will open on hover  */
@media only screen and (min-width:990px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}